@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: 0 auto;
    background-color: #F2F2F2;
    font-family: 'Sen', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

.navbar__logo, .footer__logo {
    font-size: 35px;
}

.navbar__logo li a, .footer__logo a {
    color: #072392;
    text-decoration: none;
}

.team__heading, .contact__heading {
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}

/* NAVIGATION */
.navbar {
    position: sticky;
    top: 0;
    height: 80px;
    padding: 0 100px;
    background-color: #FFF;
    z-index: 50;
}

.navbar__logo {
    padding-top: 10px;
}

.navbar ul li {
    list-style-type: none;
}

.navbar__links {
    display: flex;
    margin-bottom: 0;
}

.navbar__links li {
    margin-left: 25px;
}

.navbar__links li a {
    padding: 10px;
    text-decoration: none;
    color: #072392;
}

.navbar__links li a:hover {
    border-bottom: 2px solid #072392;
}

/* HEADER BACKGROUND */
.header {
    position: relative;
}

.header__square {
    position: absolute;
    background-color: #4250BF;
    border-bottom-left-radius: 80px;
    transform: matrix(-0.96, -0.28, -0.28, 0.96, 0, 0);
}

.square-1 {
    top: 5%;
    left: -15%;
    width: 80%;
    height: 80%;
    box-shadow: 0px 4px 130px #263396;
    z-index: -8;
}

.square-2 {
    top: -18%;
    right: 8%;
    width: 100%;
    height: 80%;
    box-shadow: 0px 11px 106px #2A389D;
    background: #3947B6;
    z-index: -6;
}

.square-3 {
    top: -20%;
    right: -5%;
    width: 80%;
    height: 110%;
    background: linear-gradient(85.66deg, #3847B5 41.37%, #253194 97.44%);
    z-index: -10;
}

nav .active {
    border-bottom: 2px solid #072392;
}

/* HEADER */
.header--desktop, .header--mobile {
    padding: 80px 100px;
}

.header__top, .header__social-ico, .header__arrow-btn, .header__arrow-btn--mobile {
    display: flex;
}

.header__top {
    justify-content: space-between;
    align-items: center;
}

.header__subscribe {
    margin-top: 25px;
}

.header__social-ico {
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    margin: 20px 0;
}

.header__arrow-btn, .header__arrow-btn--mobile {
    justify-content: center;
}
.header__arrow-btn--mobile {
    margin-top: 80px
}

.header__heading, .header__subscribe label, .header__subscribe__email button, .header__social-ico a, .header__arrow-btn i, .header__arrow-btn--mobile i {
    color: #F2F2F2;
}

.header__subscribe__email input, .header__subscribe__email button, .header__subscribe__email--mobile input, .header__subscribe__email--mobile button {
    border-radius: 30px;
    border: none;
}

.header__img--wrapper, .video__mobile {
    position: relative;
    cursor: pointer;
}

.fa-play-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #38A5DB;
    text-shadow: 0 0 5px black;
    border-radius: 50%;
    background-color: white;
}

.header__img {
    width: 568px;
    height: 365px;
    object-fit: cover;
}

.header__subscribe__email input, .header__subscribe__email--mobile input {
    width: 400px;
    padding: 9px 35px;
}

.header__subscribe__email button, .header__subscribe__email--mobile button {
    padding: 10px 45px;
    font-weight: 600;
    color: #F2F2F2;
    background-color: #38A5DB;
    transform: translateX(-65px);
}

.header__social-ico a {
    border-radius: 50%;
    background-color: #38A5DB;
}

.header__social-ico a:nth-child(1) {
 padding: 8px 12px;
}

.header__social-ico a:nth-child(2) {
    padding: 8px 15px;
}

.header__arrow-btn i, .header__arrow-btn--mobile i {
    font-size: 45px;
}

/* VIDEO SECTION */
.video__mobile {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.video__mobile__img {
    min-width: 200px;
    margin: 30px 100px;
}

/* MODAL */
.modal-title, .video-title {
    color: #38A5DB;
}

/* TEAM SECTION */
#team {
    padding: 45px 18px;
}

.team__heading {
    margin-bottom: 45px;
}

.team__cards__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    padding: 15px;
    transition: transform 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(0.9)
}

.team__image {
    border-radius: 50%;
}

.card-title {
    color: #38A5DB;
}

.team__media-ico a i {
    color: black;
    padding: 5px 20px;
    margin: 5px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 3px;
}

/* CONTACT SECTION */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 65px 0px;
    color: #F2F2F2;
    background-color: #252B42;
}

.contact__text {
    margin-top: 25px;
    text-align: center;
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    padding: 35px;
    width: 380px;
    height: 350px;
    border-radius: 15px;
    background-color: #4250BF;
}

.contact__form input {
    margin: 20px 0;
    padding: 10px 25px;
    border: none;
}

.contact__form__input--name, .contact__form__input--email {
    border-radius: 30px;
}

.contact__form__btn {
    align-self: flex-start;
    margin-top: 20px;
    padding: 10px 30px;
    font-weight: 600;
    color: #F2F2F2;
    border: none;
    border-radius: 30px;
    background-color: #38A5DB;
}

/* FOOTER */
.footer {
    background: linear-gradient(180deg, #FAFBFF 0%, #EFF1F9 41.68%, #E9ECF6 49.59%, #CED3E8 93.91%);
}

.footer__contact-info, .footer__contact-info__email, .footer__links ul {
    display: flex;
}

.footer__contact-info {
    justify-content: space-between;
    padding: 45px 100px 25px;
}

.footer__contact-info__email {
    flex-direction: column;
    align-items: center;
    margin-left: 120px;
}

.footer__contact-info__email a {
    color: #0F81FF;
    text-decoration: underline;
}

.footer__links ul {
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 20px;  
}

.footer__links ul li {
    list-style-type: none;
    margin-top: 20px;
    padding: 0 25px;
    text-align: center;
    border-right: 2px solid rgb(175, 175, 175);
}

.footer__links ul li:last-child {
    border-right: none;
}

.footer__links ul li a {
    padding: 10px;
    color: #000;
    text-decoration: none;
}

.footer__btn {
    align-self: center;
    padding: 10px 45px;
    font-weight: 600;
    color: #F2F2F2;
    border: none;
    box-shadow: 0 0 10px rgb(87, 87, 87);
    border-radius: 30px;
    background-color: #38A5DB;
}

/* ANIMATION  FOR THE ARROW BUTTON */
.bounce-top {
	-webkit-animation: bounce-top 1.5s infinite;
	        animation: bounce-top 1.5s infinite;
}

 @-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }