@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background-color: #F2F2F2;
    font-family: 'Sen', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar__logo, .footer__logo {
    font-size: 35px;
    color: #072392;
}

.team__heading, .contact__heading {
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}

/* NAVIGATION */
.navbar {
    background-color: #FFF;
}

.navbar ul li {
    list-style-type: none;
}

.navbar__links {
    display: flex;
}

.navbar__links li {
    margin-left: 25px;
}

.navbar__links li a {
    text-decoration: none;
}

/* CONTACT SECTION */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 0px;
    color: #F2F2F2;
    background-color: #252B42;
}

.contact__text {
    margin-top: 25px;
    text-align: center;
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    padding: 35px;
    width: 380px;
    height: 350px;
    border-radius: 15px;
    background-color: #4250BF;
}

.contact__form input {
    margin: 20px 0;
    padding: 10px 25px;
    border: none;
}

.contact__form__input--name, .contact__form__input--email {
    border-radius: 30px;
}

.contact__form__btn {
    align-self: flex-start;
    margin-top: 20px;
    padding: 10px 30px;
    font-weight: 600;
    color: #F2F2F2;
    border: none;
    border-radius: 30px;
    background-color: #38A5DB;
}

/* FOOTER */
.footer {
    padding: 45px 18px 25px;
    background: linear-gradient(180deg, #FAFBFF 0%, #EFF1F9 41.68%, #E9ECF6 49.59%, #CED3E8 93.91%);
}

.footer__contact-info, .footer__contact-info__email, .footer__links ul {
    display: flex;
}

.footer__contact-info {
    justify-content: space-between;
}

.footer__contact-info__email {
    flex-direction: column;
    align-items: center;
}

.footer__contact-info__email p:last-child {
    color: #0F81FF;
    text-decoration: underline;
}

.footer__links ul {
    justify-content: center;
    
}

.footer__links ul li {
    list-style-type: none;
    margin-top: 20px;
    padding: 0 55px;
    text-align: center;
    border-right: 2px solid rgb(167, 167, 167);
}

.footer__links ul li:last-child {
    border-right: none;
}

.footer__links ul li a {
    color: #000;
    text-decoration: none;
}

.footer__btn {
    align-self: center;
    padding: 10px 45px;
    font-weight: 600;
    color: #F2F2F2;
    border: none;
    box-shadow: 0 0 10px rgb(87, 87, 87);
    border-radius: 30px;
    background-color: #38A5DB;
}
