/* max-width: 768px */
.navbar__links li {
    margin-left: 5px;
}

.navbar__links li a {
    padding: 5px;
}

.video__mobile__img {
    margin-top: 30px;
}

.footer__links ul {
    flex-wrap: wrap;
    margin-bottom: 0;
}

.navbar, .header--mobile, .footer__contact-info {
    padding-left: 50px;
    padding-right: 50px;
}

 .video__mobile__img {
    margin: 30px 35px;
}

@media screen and (max-width: 684px) {
    .header__subscribe__email--mobile button {
        transform: none;
        width: 400px;
    }

    .header__subscribe__email--mobile input {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 655px) {
    .header__subscribe__email--mobile button {
        width: 280px;
    }
}

@media screen and (max-width: 658px) {
    .footer__contact-info {
        flex-direction: column;
        padding-top: 20px;
    }

    .footer__contact-info__email {
        margin-left: 0;
        margin-bottom: 35px;
    }

    .header__subscribe__email--mobile, .header__subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .header__subscribe__email--mobile input {
        width: 280px;
    }
}