/* max-width: 576px */
.contact__form {
    max-width: 350px;
}

.footer__links {
    background-color: #fff;
}

.footer__links ul li {
    border-right: none;
}

.team__cards__wrapper, .header--desktop {
    display: none;
}

.header__subscribe__email--mobile button {
    transform: none;
    width: 280px;
}

@media screen and (max-width: 387px) {
    .contact__form {
        max-width: 240px;
        padding: 15px;
    }
}

@media screen and (max-width: 320px) {
    .navbar__logo, .footer__logo {
        font-size: 30px;
    }

    .navbar, .header--mobile, .footer__contact-info {
        padding-left: 18px;
        padding-right: 18px;
    }

    .video__mobile__img {
        margin: 0 20px;
    }

    .fa-play-circle {
        font-size: 35px;
    }
}